
/*Variables*/

:root {
  --primary: #ddd;
  --dark: #262626;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.4);
  --pink: #A70532; 
}

/*Core Styles*/

html {
  box-sizing: border-box;
  font-family: 'Avenir Next';
  color: var (--dark);
  margin: 0 auto;
}

body {
  background:var(--dark);
  margin: 30px 0px;
  line-height: 1.4;
  font-size: 24px;
}

.btn {
  background: var(--pink);
  color: var(--light);
  padding: 8px 10rem;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  font-size: 3.4rem;
  margin: 12px 0px;
}

img {
  max-width: 100%;
}
 
.wrapper {
  display: grid;
}

.heading {
  padding: 32px;
}

.light {
  color: #ddd;
}

.dark {
  color: #262626;
  background-color: #fff;
  margin-top: 32px;
}

h1 {
  font-size: 5rem;
  padding: 0px;
  margin: 24px 0;
}

p {
  font-size: 3.2rem;
  padding: 24px 0px;
  margin: 0;
}




/* Logo */

#logo {
 height: 150px;
 font-size: 4rem;
 color: black;
 text-decoration: none;
 
}

#logo img {
 padding-right: 15px;
 height: 70%;
 padding-top: 20px;
}

.logo #logo {
display: flex;
align-items: center;
justify-content: center;
flex-shrink: 3;
text-transform: uppercase;
background-color: #fff;
min-height: 300px;
}


/*Navigation Syles*/

.main-nav ul {
  height: auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: #A70532;
  width: 100%;
  margin: 0;
}

.main-nav li {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--light);
  font-weight: 500;
  font-size: 2.1em;
  padding: 50px;
}

.main-nav a:hover {
  text-decoration: none;
  background-color: rgb(117, 12, 42);
}
  

  /* 
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background: var (--light);
  display: block;
  text-decoration: none;
  padding: 1.1em .5em;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
  text-align: center;
  border-radius: 2px;
}

.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
  cursor: pointer;
  transition: color 0.25s linear 80ms;
}

 */


  


/*Top Container/Showcase*/

.top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: var(--dark);
  padding: 32px 24px;
  min-height: 1362px;
}

.top-container img {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  height: auto;
  vertical-align: middle;
  padding-right: 24px;
}

.showcase-text {
  display: inline-block;
  width: 30%;
  padding-left: 24px;
  text-align: left;
}

.showcase-text p {
margin-bottom: 48px;
}


/* Second Container */

.second-container {
  display: grid;
  grid-gap: 20px;
  padding: 32px 24px;
  margin: 0 auto;
  background-color: #fff;
  grid-template-areas: 
  'info info top-box-a top-box-a'
  'info info top-box-b top-box-b'
  'info-text info-text top-box-c top-box-c';
}

.info {
  grid-area: info;
}

.info-text {
  grid-area: info-text;
}


.info img {
  width: 100%;
  height: auto;
  overflow: hidden;
} 

.top-box-a img,
.top-box-b img,
.top-box-c img {
  display: inline-block;
  width: 35%;
  height: auto%;
  vertical-align: middle;
}

.box-text {
  display: inline-block;
  vertical-align: middle;
}

.top-box-a {
  grid-area: top-box-a;
  box-shadow: var(--shadow);
}

.top-box-b {
  grid-area: top-box-b;
  box-shadow: var(--shadow);
}

.top-box-c {
  grid-area: top-box-c;
  box-shadow: var(--shadow);
}

.top-box-a, 
.top-box-b, 
.top-box-c {
  width: 100%;
}

h3 {
}




/* Boxes Section */

.boxes {
  display: grid;
  width: 100%;
  height: auto;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(1200px, 1fr));
  padding: 32px 72px ;

}

.heading {
  position: relative;
  display: block;
  text-align: center;
  padding: 32px auto;
  margin: 0;
}

.box {
  background-color: var(--light);
  color: var(--dark);
  text-align: center;
  border-radius: 5px;
  width: 100%;
}

.box img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}


/* Last Container */

.last-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  padding: 32px 24px;
  margin: 0px;
  background-color: #fff;
  grid-template-areas: 
  'thesis  top-box-d'
  'thesis top-box-e'
  'thesis-text top-box-f';
}

.thesis {
  grid-area: thesis;
  width: 50%;
}


.thesis-text {
  grid-area: thesis-text;
  width: 50%;
}

.thesis video {
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
} 

.top-box-d img,
.top-box-e img {
  display: inline-block;
  width: 35%;
  height: auto;
  vertical-align: middle;
}

.box-text {
  display: inline-block;
  vertical-align: middle;
}

.top-box-d {
  grid-area: top-box-d;
  box-shadow: var(--shadow);
}

.top-box-e {
  grid-area: top-box-e;
  box-shadow: var(--shadow);
}

.top-box-f {
  grid-area: top-box-f;
  box-shadow: var(--shadow);
}


.top-box-d  
.top-box-e, {
  height: auto;
  width: 100%;
}